Student's Name and Email Address

Boise State University, Department of Chemistry and Biochemistry

## CHEM 324: PChem Lab
# Worksheet 2: Kinetics of Methylene-Blue

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
data=pd.read_csv('SetA.Run1.csv',header=1,usecols=(0,1))
data=data.apply(pd.to_numeric,errors='coerce').dropna()

In [4]:
data

     Time (sec)       Abs
0          0.25  1.301895
1          0.75  1.292869
2          1.25  1.283338
3          1.75  1.274638
4          2.25  1.264059
..          ...       ...
813      406.75  0.050608
814      407.25  0.050726
815      407.75  0.050740
816      408.25  0.050600
817      408.75  0.050836

[818 rows x 2 columns]